.wrapper {
    position: fixed;
    offset: 0px;
    background: #fff;
    display: flex;
    flex-direction: row;
    z-index: 11;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.video-wrapper {
    position: relative;
    flex: 1 0 600px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(0, 0, 0);
}

.video-container {
    width: 100%;
    height: 100%;
    background-color: rgba(22, 24, 35, 0.06);
}

.background-image {
    position: absolute;
    width: 10%;
    height: 10%;
    filter: blur(2px);
    left: 40%;
    top: 50%;
    transform: scale(11);
    opacity: 0.3;
    background: center center / cover no-repeat;
}

.video {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.close-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(84, 84, 84, 0.5);
    cursor: pointer;
    border: none;
    outline: none;
    transition: opacity 0.3s ease 0s;

    &:hover {
        background-color: rgba(37, 37, 37, 0.6);
        opacity: 0.7;
    }

    &:active {
        opacity: 0.5;
    }
}

.icon-close {
    height: 2.5rem;
    color: #fff;
}

.content-container {
    flex: 0 0 544px;
    width: 544px;
    display: flex;
    flex-direction: column;
    padding: 32px 0px 0px;
}
