.item-container {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 1px;
        transform: scaleY(0.5);
        background: rgba(22, 24, 35, 0.2);
    }
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.Content {
    margin-left: 1.2rem;
}

.TextInfo {
    width: 510px;
}

// profile

.profileInner {
    padding: 20px;
    width: 320px;
    overflow: visible;

    .profile-name {
        color: var(--text-color);
        font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }

    .follow-like {
        margin-top: 8px;
    }

    .number {
        font-weight: 700;
        margin-right: 6px;
        font-size: 17px;
        line-height: 20px;
        display: inline-block;
    }

    .profile-text {
        margin-right: 12px;
        color: rgba(22, 24, 35, 0.75);
        font-size: 17px;
        line-height: 20px;
        display: inline-block;
    }

    .profile-bio {
        font-size: 14px;
        line-height: 20px;
        padding-top: 16px;
        margin-top: 16px;
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
}

.profile-header {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 12px;

    .profile-avatar {
        border-radius: 50%;
        width: 44px;
        height: 44px;
        cursor: pointer;
    }

    .follow-big {
        min-width: 106px;
        min-height: 35.6px;
    }
}

.Author {
    display: inline-flex;

    &:hover .nickname {
        text-decoration: underline;
    }
}

.nickname {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.5rem;
    display: inline-block;
    margin-right: 4px;
    cursor: pointer;

    &:active {
        color: var(--text-color);
    }
}

.name {
    font-weight: 400;
    font-size: 1.4rem;
    display: inline-block;
    line-height: 2.8rem;
    cursor: pointer;
}

.follow-btn {
    min-height: 28px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    font-family: ProximaNova, sans-serif;
    border-width: 1px;
    border-style: solid;
    user-select: none;
    min-width: 88px;
    min-height: 28px;
    padding: 0px 10px;
    background-color: rgb(255, 255, 255);

    &:active {
        background-color: rgba(254, 44, 85, 0.16);
    }
}

.follow-small {
    right: 0;
    position: absolute;
    top: 2.8rem;
}

.follow-active {
    color: var(--text-color);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgb(208, 209, 211);
        background-color: rgb(248, 248, 248);
    }

    &:active {
        border-color: rgb(208, 209, 211);
        background-color: rgb(241, 241, 242);
    }
}

.description {
    font-size: 1.6rem;
    line-height: 2.2rem;
}

.common-link {
    cursor: pointer;
    font-size: 16px;
    line-height: 22px;
    word-break: break-word;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}

.music {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-top: 4px;
    margin-bottom: 12px;

    &:hover {
        text-decoration: underline;
    }
}

.music-icon {
    margin-right: 5px;
}
//video
.video-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

// VideoCard
.card-container {
    position: relative;

    &:hover .report {
        opacity: 1;
    }

    &:hover .play-or-pause {
        opacity: 1;
    }

    &:hover .video-sound {
        opacity: 1;
    }
}

.video {
    margin-right: 2rem;
    border-radius: 8px;
    max-height: 58.333rem;
    max-width: 50rem;
    position: relative;
    cursor: pointer;
}

.report {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    right: 40px;
    position: absolute;
    top: 24px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
}

.flag-icon {
    margin-right: 5px;
}

.play-or-pause {
    width: 40px;
    height: 40px;
    padding: 10px;
    position: absolute;
    left: 2rem;
    bottom: 3rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
}

.play-icon,
.volume-icon {
    color: #fff;
    height: 2rem;
}

.video-sound {
    width: 40px;
    height: 40px;
    padding: 10px;
    position: absolute;
    right: 4rem;
    bottom: 3rem;
    cursor: pointer;
    color: #fff;
    transition: opacity 0.3s ease 0s;
    opacity: 0;

    &:hover .volume-container {
        display: flex;
    }
}

.volume-container {
    position: absolute;
    bottom: 4rem;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 64px;
    margin: 8px 7px 0px;
    cursor: initial;
    background: rgba(22, 24, 35, 0.34);
    border-radius: 32px;
    display: none;
}

.input-range {
    -webkit-appearance: none;
    transform: rotate(-90deg);
    width: 50px;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background-image: linear-gradient(#fff, #fff);
    background-size: 20% 100%;
    background-repeat: no-repeat;
    cursor: pointer;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 0 2px 0 #555;
        transition: background 0.3s ease-in-out;
    }

    &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
    }
}

.action-item-container {
    display: flex;
    flex-direction: column;
}

.action-item {
    border: none;
    background: none;
    outline: none;
    padding: 0px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
}

.icon-wrapper {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 2rem;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    background-color: rgba(22, 24, 35, 0.06);
    margin-top: 8px;
    margin-bottom: 6px;
}

.strong-text {
    color: rgba(22, 24, 35, 0.75);
    font-size: 12px;
    line-height: 17px;
    text-align: center;
}

.menu-popper {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    width: 28rem;
    max-height: 44.8rem;
}
