.wrapper {
    right: 24px;
    position: fixed;
    bottom: 0px;
    z-index: 7;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 8px;
    transform: none;
    transition: all 400ms cubic-bezier(0.65, 0, 0.35, 1) 0s;
}

.get-app {
    border: 1px solid rgba(22, 24, 35, 0.12);
    background: none rgb(255, 255, 255);
    outline: none;
    color: rgba(22, 24, 35, 0.75);
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 700;
    font-size: 14px;
    position: relative;
    right: 0px;
    bottom: 0px;
    padding: 0px 8px;
    min-width: 90px;
    height: 32px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
    border-radius: 52px;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
    transition: transform 0.3s cubic-bezier(0.4, 0.14, 0.3, 1) 0s;
    transform-origin: right bottom;
    transform: none;
    margin-bottom: 12px;

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgb(255, 255, 255);
    }
}

.backtotop {
    border: none;
    outline: none;
    padding: 0px;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 52px;
    background: rgb(254, 44, 85);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }
}

.icon {
    color: #fff;
}
